.page-error {
  display: flex;
	flex-direction: column;
	padding-top: calc(var(--header-height) + 50px);
	padding-bottom: 50px;
	height: 100vh;
	height: 100dvh;

&__container {
    @include flex-alignment(50px, center, flex-start, column);
    @include adaptive-value-base("font-size", 48, 30, 0);

    position: relative;
		padding-bottom: 60px;
    height: 100%;
  }
}
