<article class="project-card">
    <div class="project-card__image">
        <picture>
            <source srcset="img/home-pages/projects/stub.avif 1x, img/home-pages/projects/stub@2x.avif 2x" type="image/avif">
            <source srcset="img/home-pages/projects/stub.webp 1x, img/home-pages/projects/stub@2x.webp 2x" type="image/webp">
            <img src="img/home-pages/projects/stub.png" srcset="img/home-pages/projects/stub@2x.png 2x" alt="Гарантия" loading="lazy">
        </picture>
    </div>
    <a class="project-card__link" href="#">
        @text
    </a>
</article>