:root {
	--color-pink-400: #8d8dff;
	--color-pink-600: #423dcb;
	--color-gray-300: #d8d8d8;
	--color-red-400: #ff6a6a;
	--color-red-300: #ffd3d3;
	--color-white: #fff;
	--color-black: #000;
	--color-black-100: #1d1e1c;
	--color-black-200: #242422;
	--font-main: 'Feature Mono';
}
