:root {
	--color-pink-400: #8D8DFF;
	--color-pink-600: #423DCB;
	--color-gray-300: #D8D8D8;
	--color-red-400: #FF6A6A;
	--color-red-300: #FFD3D3;
	--color-white: #fff;
	--color-black: #000;
	--font-main: 'FeatureMono';
}
