.footer {
	&__container {
		@include card(30px 66px);
		@include flex-alignment(30px, space-between, unset);

		flex-wrap: wrap;
		font-size: 32px;
		color: var(--color-white);

		@include mq(lg) {
			padding: 24px 16px;
			font-size: 22px;
		}
	}

	&__info {
		@include flex-alignment(40px, space-between, unset, column);
	}

	&__address {
		width: 100%;

		@include mq(md, min) {
			max-width: 460px;
		}
	}

	&__name {
		font-size: 18px;
		color: var(--color-pink-400);
	}

	&__items {
		@include flex-alignment(50px, space-between, flex-start, column);
	}

	&__item {
		@include flex-alignment(2px, space-between, flex-start, column);
	}

	&__document {
		position: relative;
		margin-right: auto;
		padding-right: 40px;

		&::after {
			@include bg-properties(contain);

			content: '';
			position: absolute;
			right: 0;
			top: 0;
			width: 30px;
			height: 30px;
			background-image: url('../img/icons/arrow.svg');
			transform: rotate(-45deg) translateY(44%);

			@include mq(lg) {
				transform: rotate(-45deg) translateY(0);
			}
		}

		&--desktop {
			@include mq(lg) {
				display: none;
			}
		}

		&--mobile {
			display: none;

			@include mq(lg) {
				display: flex;
			}
		}
	}
}
