.title-block {
  @include flex-alignment(0, center, flex-start, column);
  @include adaptive-value-base("font-size", 48, 30, 0);

  margin-bottom: 45px;
  width: 100%;
  font-weight: 300;
  line-height: 1.6;

  &__title {
    color: var(--color-pink-400);
  }

  &__text {
    margin-bottom: 30px;
    opacity: 0;

    &--active {
      opacity: 1;
      transform: translateY(0);
    }

    span {
      opacity: 0;
      animation: fade 400ms ease-in-out forwards;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
}
}
