.competencies-card {
	@include flex-alignment(60px, space-between, flex-start);
	@include card(70px 50px 40px);
	@include animation-hover-card;

	border-radius: 0;

	@include mq(lg) {
		padding: 60px 20px 30px;
	}

	@include mq(lg) {
		flex-direction: column;
		gap: 26px;
	}

	&__title {
		border-radius: inherit;
		font-weight: 300;
		font-size: 33px;

		@include mq(lg) {
			font-size: 28px;
		}

		@include mq(md) {
			font-size: 26px;
		}

		a {
			border-radius: inherit;

			&::before {
				content: '';
				position: absolute;
				inset: 0;
				border: 2px solid transparent;
				border-radius: inherit;
				transition: border-color 0.3s;
			}

			&:focus-visible {
				outline: 0;

				&::before {
					border-color: var(--color-pink-600);
				}
			}
		}
	}

	&__text {
		@include paragraph-margin;

		width: 100%;
		max-width: 600px;

		@include mq(md) {
			max-width: 100%;
			font-size: 14px;
		}
	}
}
