.project-card {
	position: relative;
	width: 100%;
	height: 100%;

	&__image {
		@include resize-picture(132%);

		margin-bottom: 12px;

		@include mq(md) {
			padding-bottom: 105%;
		}

		img {
			border-radius: 30px;
		}
	}

	&__link {
		@include mq(lg) {
			font-size: 14px;
		}

		&::before {
			content: '';
			position: absolute;
			inset: 0;
		}
	}
}
