@keyframes fade {
	0% {
		left: 10px;
		top: 10px;
		opacity: 0;
	}

	50% {
		opacity: 0.9;
	}

	100% {
		left: 0;
		top: 0;
		opacity: 1;
	}
}

@keyframes marquee-left {
	0% {
		opacity: 0;
		transform: translate(100%, 0);
	}

	20% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
		transform: translate(-100%, 0);
	}
}

@keyframes marquee-right {
	0% {
		opacity: 0;
		transform: translate(-100%, 0);
	}

	20% {
		opacity: 0.9;
	}

	100% {
		opacity: 2;
		transform: translate(100%, 0);
	}
}
