.about {
	&__wrapper {
		position: relative;
	}

	&__subtitle {
		@include line-clamp(2);

		position: absolute;
		left: 50px;
		right: 50px;
		top: 36px;
		z-index: 4;

		@include mq(lg) {
			left: 20px;
			right: 20px;
		}
	}

	&__item {
		position: relative;

		&:first-child {
			.about-card {
				border-top-left-radius: 30px;
				border-top-right-radius: 30px;
				padding-top: 90px;

				@include mq(lg) {
					padding-top: 80px;
				}
			}
		}

		&:last-child {
			.about-card {
				border-bottom-right-radius: 30px;
				border-bottom-left-radius: 30px;
			}
		}

		&:not(:last-child) {
			border-bottom: 1px solid var(--color-black-100);
		}
	}
}
