.competencies {
	&__items {
		counter-reset: item-counter;
	}

	&__item {
		counter-increment: item-counter;
		position: relative;

		&::before {
			content: counter(item-counter, decimal-leading-zero);
			position: absolute;
			left: 52px;
			top: 28px;
			z-index: 1;
			color: var(--color-pink-400);

			@include mq(lg) {
				left: 20px;
				font-size: 14px;
			}
		}

		&:first-child {
			.competencies-card {
				border-top-left-radius: 30px;
				border-top-right-radius: 30px;
			}
		}

		&:last-child {
			.competencies-card {
				border-bottom-right-radius: 30px;
				border-bottom-left-radius: 30px;
			}
		}

		&:not(:last-child) {
			border-bottom: 1px solid var(--color-black-100);
		}
	}
}
