<section class="footer">
  <address class="footer__container container">
    <div class="footer__info">
      <div class="footer__address">
        <span class="footer__name">Адрес</span>
        <p>Наш офис находится в Москве по адресу: Подсосенский переулок 5, строение 1</p>
      </div>
      <div class="footer__documents">
      <a class="footer__documents--desktop" href="http://localhost:3000/documents.html">
        Документы
      </a>
      </div>
    </div>
    <ul class="footer__items">
      <li class="footer__item">
        <span class="footer__name">Телефон</span>
        <a class="footer__link" href="tel:+79091455687">8 909 145-56-87</a>
      </li>
      <li class="footer__item">
        <span class="footer__name">Написать нам в WhatsApp</span>
        <a class="footer__link" href="https://wa.me/75551234567" target="_blank">@digiedu.center</a>
      </li>
      <li class="footer__item">
        <span class="footer__name">Электронная почта</span>
        <a class="footer__link" href="mailto:mail@digiedu.center">mail@digiedu.center</a>
      </li>
      <li class="footer__item">
        <span class="footer__name">Карьера</span>
        <a class="footer__link" href="mailto:job@digiedu.center">job@digiedu.center</a>
      </li>
      <li class="footer__documents">
        <a class="footer__documents--mobile" href="http://localhost:3000/documents.html">
          Документы
        </a>
      </li>
    </ul>
  </address>
</section>
