<header class="header">
    <div class="container">
        <nav class="header__nav">
            <a class="header__logo logo" href="index.html">
                <img class="logo__img" src="img/logos/logo-site.svg" alt="Логотип Центра цифровых и образовательных решений" width="330" height="98">
            </a>

            <button class="header__prev header__prev--hidden button button--back" type="button" data-button-back>
                Назад
            </button>

            <div class="burger-menu">
                <div class="burger-menu__toggle button">
                    <span class="burger-menu__current" aria-current="page">Главная</span>
                    <button class="burger-menu__button" type="button" aria-controls="header-burger-menu" aria-label="Открыть меню" aria-expanded="false" data-burger-button></button>
                </div>
                <div class="burger-menu__content" id="header-burger-menu" data-menu>
                    <ul class="burger-menu__items">
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="index.html" data-menu-link>
                                Главная
                            </a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="competence-page.html" data-menu-link>
                                Компетенции
                            </a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="#" data-menu-link>
                                О центре
                            </a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="all-projects-page.html" data-menu-link>
                                Проекты
                            </a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="#" data-menu-link>
                                Вакансии
                            </a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="#" data-menu-link>
                                Образование
                            </a>
                        </li>
                        <li class="burger-menu__item">
                            <a class="burger-menu__link" href="#" data-menu-link>
                                Контакты
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>