.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 50;
	display: block;
	width: 100%;
	font-weight: 600;
	background-color: var(--color-black-100);

	&__nav {
		@include flex-simple(30px);

		position: relative;
		align-items: center;
		padding: 20px 0;
	}

	&__menu {
		position: absolute;
		right: 0;
		top: 52px;
	}
}
