.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 50;
	display: block;
	width: 100%;
	font-weight: 600;
	background-color: var(--color-black-100);

	&__nav {
		@include flex-simple(30px);

		position: relative;
		align-items: center;
    justify-content: space-between;
		padding: 20px 0;
	}

	&__menu {
		position: absolute;
		right: -14px;
		top: 28px;


  &::before {
    content: '';
    position: absolute ;
    right: -1px;
    top: 0;
    border-radius: 10px;
    width: 58px;
    height: 40px;
    background-color: var(--color-pink-600);
  }
	}
}
