.header {
	position: relative;
	z-index: 50;
	height: 92px;
	font-weight: 600;
	background-color: var(--color-black-100);

	@include mq(md) {
		height: 70px;
	}

	&--fixed {
		.header__container {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			background-color: inherit;
		}
	}

	&__nav {
		@include flex-simple(30px);

		position: relative;
		align-items: center;
		padding: 25px 0;

		@include mq(lg) {
			padding: 20px 0;
		}
	}

	&__container {
		top: -50px;
		display: block;
		height: inherit;
		background-color: inherit;
		transition: top 0.3s;
	}

	&__logo {
		position: relative;
		z-index: 50;
		margin-right: auto;
		max-width: 330px;
		max-height: 98px;
	}

	&__menu {
		position: absolute;
		right: 0;
		top: 52px;
	}
}
