.one-project {
	&__container {
		@include card(40px 50px);

		@include mq(md) {
			padding: 20px 16px;
		}
	}

	&__title {
		@include adaptive-value-base('font-size', 33, 26, 0);

		margin-bottom: 38px;
		font-weight: 300;
	}
}
