<div class="dws-menu">
    <input type="checkbox" name="toggle" id="menu" class="toggleMenu">
    <label for="menu" class="toggleMenu">Главная</label>
    <ul class="dws-items">
        
        <li class="dws-item"><a class="dws-href" href="#">КОМПЕТЕНЦИИ</a></li>
        <li class="dws-item"><a class="dws-href" href="#">О ЦЕНТРЕ</a></li>
        <li class="dws-item"><a class="dws-href" href="#">ПРОЕКТЫ</a></li>
        <li class="dws-item"><a class="dws-href" href="#">ВАКАНСИИ</a></li>
        <li class="dws-item"><a class="dws-href" href="#">ОБРАЗОВАНИЕ</a></li>
        <li class="dws-item"><a class="dws-href" href="#">КОНТАКТЫ</a></li>
    </ul>
</div>