.marquee {
	display: flex;
	padding-left: 2%;
	width: 100%;
	opacity: 1;
	gap: 32px;

	&--left {
		animation: marquee-left 30s linear infinite;
	}

	&--right {
		animation: marquee-right 30s linear infinite;
	}
}
