.marquee {
	display: flex;
	padding-left: 2%;
	width: 100%;
	opacity: 1;
	gap: 8px;

	&--left {
		animation: marquee-left 25s linear infinite;
	}

	&--right {
		animation: marquee-right 25s linear infinite;
	}
}
